[defaults]
inventory = ansible/inventory.yml
roles_path = ansible/roles
collections_path = ~/.ansible/collections
vault_password_file = /etc/ansible/.ansible-vault.py
host_key_checking = False
stdout_callback = yaml

[privilege_escalation]
become = True
become_method = sudo
